#title {
    font-size: 400%;
    width: 60vmax;
  }

.center {
    margin: auto;
    padding: auto;
    text-align: center;
  }

#image {
    max-width: 70%;
    height: auto;
    display: block;
  }


  @media only screen and (min-width:480px)
  {

  }

  @media only screen and (min-width:767px)
  {

  }

  @media only screen and (min-width:991px)
  {

  }

  @media only screen and (min-width:1200px)
  {
 .font {
    padding: 0px 150px 20px 150px;
        }
  }

  @media(orientation: landscape)
  {

  } 